<!doctype html>
<html>
  <head>
    <%= partial "/layouts/partials/head" %>
    <%= stylesheet_link_tag "articles" %>
    <title><%=current_page.data.title + ' • Blog • ' unless current_page.data.title.nil? %>Jack MapelLentz</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= javascript_include_tag "blog" %>
  </head>
  <body>

    <%= partial "/layouts/partials/banner" %>

    <div id="main" role="main">
      <div id="blog-header">
        <h1><a href="/blog">blog</a></h1>
        <span class='blog-article-link-etc'>
          <span class='blog-article-link-date'>
            <%= link_to "#{current_article.date.strftime('%b %e') + ', ' + current_article.date.strftime('%Y')}", '/blog/' + current_article.date.strftime('%Y') %>
          </span>
          <% current_article.tags.each do |tag, i| %>
            <%= link_to "#{tag}", tag_path(tag), :class => 'blog-article-link-tag' %>
          <% end %>
          </span>
      </div>
      <hr class="blog-header-hr">
      <h1><%= current_page.data.title unless current_page.data.disable_title == true %></h1>
      <%= yield %>
      <div id="bottomThings">
        <a href="/blog" class='js-back' style="text-decoration: none;">←</a>
        <span style="float: right;">
          <div id="commentoButton">
            <a href="javascript:togglecommento();" style="text-decoration: none;">comments ↓</a>
          </div>
        </span>
      </div>
      <div class="commentoOuterWrapper" style="display: none;">
        <div class="commentoInnerWrapper">
          <div class="commento-notice">
            <p>
              <b>A note about comments.</b>
              Comments on this site are, at the moment, kind of jerry-rigged and probably not the most secure. None of this should really matter, but I just wanted to let you know to be safe. <a style="font-weight: 100;" class="commento-notice-learn-more-link">Learn more.</a>

              <span style="display: none;" class="commento-notice-learn-more">To be specific: I didn't want to pay to host them, so I installed Commento on Heroku and set up CloudFlare to get SSL to work (Heroku charges for SSL certificates). However, while the connection between your computer and CloudFlare is secure, the connection between CloudFlare and Heroku isn't. Theoretically I think someone could sneak something into the URL, or something. Again, I'm a random person who has like 4 friends, so none of this should ever be an issue. Clicking the button below will load the external Commento script.</span>
            </p>
            <h1 class="commento-load">
              <a>load comments</a>
            </h1>
          </div>
        <div id="commento"></div>
        </div>
        <script>
          $("a.commento-notice-learn-more-link").click(function(){
            $(".commento-notice-learn-more").show();
            $(".commento-notice-learn-more-link").hide();
          });
          $("h1.commento-load").click(function(){
            $.getScript("https://jltml-commento.herokuapp.com/js/commento.js");
            $(".commento-notice").slideUp("slow");
            $("#commento").slideDown("slow");
          });

          function togglecommento() {
            $(".commentoOuterWrapper").slideToggle("slow");
            $("#commentoButton").toggleClass("buttonFlip");
          }
        </script>
      </div>
    </div>
  </body>
</html>
