<!doctype html>
<html>
  <head>
    <%= partial "/layouts/partials/head" %>
    <%= stylesheet_link_tag "articles" %>
    <title>jacquesite • articles<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= javascript_include_tag "blog" %>
  </head>
  <body>

    <%= partial "/layouts/partials/banner" %>

    <div id="main" role="main">
      <h1><a href="../../../../../blog">blog</a></h1>
      <hr>
      <%= yield %>
      <div id="bottomThings">
        <a href="../../../../../blog" class='js-back' style="text-decoration: none;">←</a>
        <span style="float: right;">
          <div id="disqusButton">
            <a href="javascript:toggleDisqus();" style="text-decoration: none;">comments ↓</a>
          </div>
        </span>
      </div>
      <div class="disqus" style="display: none;">
        <%= disqus %>
        <%= disqus_count %>
      </div>
      <script>
        function toggleDisqus() {
          $(".disqus").slideToggle("slow");
          $("#disqusButton").toggleClass("buttonFlip");
        }
      </script>
    </div>

  </body>
</html>
