<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "jacquesite" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= google_analytics_tag %>
    <link rel="apple-touch-icon" href="./../images/iphoneicon">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
