<!doctype html>
<html>
  <head>
    <%= partial "/layouts/partials/head" %>
    <title>jacquesite // random thoughts<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <!-- Note: this is almost identical to the standard layout.erb. I tried nesting, but it broke the links -->
    <div class="banner">
      <header>
          <div class="title">
            <h1>
              <a href="../../../../../">jack mapellentz</a>
            </h1>
          </div>
          <div class="navigation">
            <h1>
              <a href="../../../../../menu">menu</a>
            </h1>
          </div>
      </header>
    </div>

    <div id="main" role="main">
      <h1><a href="../../../../../thoughts">thoughts</a></h1>
      <hr>
      <%= yield %>
    </div>

    <hr>

    <aside>
      <h3>Recent Articles</h3>
      <p>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </p>

      <h3>Tags</h3>
      <p>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </p>

      <h3>By Year</h3>
      <p>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </p>
    </aside>

  </body>
</html>
