---
pageable: false
paginate: false
per_page:
blog: blog
title: blog
---
<head>
  <%= stylesheet_link_tag "articles" %>
  <%= javascript_include_tag "blog" %>
</head>

<h1><a href="./../blog">blog</a></h1>

<hr>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <span class="blog-article-link">
      <h2 class=blog-article-link-title><%= link_to article.title, article %></h2>
      <span class='blog-article-link-etc'>
        <span class='blog-article-link-date'>
          <%= link_to "#{article.date.strftime('%b %e') + ', ' + article.date.strftime('%Y')}", './blog/' + article.date.strftime('%Y') %>
        </span>
        <% article.tags.each do |tag, i| %>
          <%= link_to "#{tag}", tag_path(tag), :class => 'blog-article-link-tag' %>
        <% end %>
        </span>
  </span>
  <br>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

<hr>

<aside class="blog-footer">
  <h3>Tags</h3>
  <p>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </p>

  <h3>By Year</h3>
  <p>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
  </p>
</aside>
